{% extends 'base.html' %}
{% block title%} {{detail_artist.artist_name}}のお気に入り登録者一覧 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h1><a href="{% url 'mlog:artistdetail' detail_artist.artist_name_id %}">{{detail_artist.artist_name}}</a>のお気に入り登録者一覧</h1>

			{% if fav_users %}
			{% for fav_user in fav_users %}
			<p><a href="{% url 'accounts:detail' fav_user.username %}"><img src="{{MEDIA_URL}}{{fav_user.profile_image}}" height="{{profile_image_size.HEIGHT}}" width="{{profile_image_size.WIDTH}}"/>{{fav_user.handle}}({{fav_user.username}})</a></p>
			{% endfor %}
			{% else %}
			お気に入り登録者はいません。
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}