<div class="mt-3">
	<div class="div-for-preview" id="id_play_preview">
		<img src="{{artwork_url}}" id="id-artwork-for-preview-in-entry-detail" class="artwork-for-preview">

		<!--https://codeconvey.com/css-percentage-circle/-->
		<div class="circle-wrap">
			<div class="circle">
				<div class="mask full">
					<div class="fill">

					</div>
				</div>
				<div class="mask half">
					<div class="fill">

					</div>
				</div>
				<div class="inside-circle">
					<i class="fas fa-play fa-2x play-icon"></i>
				</div>
			</div>
		</div>
	</div>
</div>