<div class="mt-3">
	<div class="div_for_preview" id="id_play_preview">
		<img src="{{entry.song.artwork_url}}" id="id_artwork_for_preview_in_entry_detail" class="artwork_for_preview">

		<!--https://codeconvey.com/css-percentage-circle/-->
		<div class="circle-wrap">
			<div class="circle">
				<div class="mask full">
					<div class="fill">

					</div>
				</div>
				<div class="mask half">
					<div class="fill">

					</div>
				</div>
				<div class="inside-circle">
					<i class="fas fa-play fa-2x play_icon"></i>
				</div>
			</div>
		</div>
	</div>
</div>