{% extends 'base.html' %}
{% block title%}お問い合わせ詳細 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<a href="{% url 'contacts:list' %}">お問い合わせ一覧</a>
	</div>
	<div class="row mt-5">
		<p>カテゴリ : {{contactthreads.get_category_display}}</p>

		<p>お問い合わせ内容</p>
		{% for content in contact_content_list %}
		<div class="col-10">
			<div class="row border border-dark border-2 p-3 mb-2">
				<div class="row">
					{{ content.user.handle}}({{content.user.username}})
				</div>
				<div class="row p-2">
					{{ content.content|linebreaks}}
				</div>
				<p>作成日時：{{ content.created_at }}</p>
				<p>更新日時：{{ content.updated_at }}</p>
				{% if content.user == user %}<a href="{% url 'contacts:update' content.id %}">編集</a>{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row mt-5">
		<form method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="投稿">
		</form>
	</div>
	<div class="row mt-5">
		<a href="{% url 'contacts:delete' contactthreads.id %}">この問い合わせを削除</a>
	</div>
</div>
{% endblock content %}