{% extends 'base.html' %}
{% block title%} 「{{keyword}}」の検索結果 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class "row mt-5">
    「{{keyword}}」の検索結果
	{% if artist_list %}
		{% for artist in artist_list%}
		<p><a href="{% url 'musics:artist_detail' artist.slug %}">{{artist.artist_name}}</a></p>
		{% endfor %}
	{% elif song_list %}
		{% for song in song_list%}
        <p><a href="{% url 'musics:song_detail' song.id %}">{{song.song_name}}</a></p>
        {% endfor %}
	{% elif user_list %}
		{% for auser in user_list%}
        <p><a href="{% url 'accounts:detail' auser.username %}">{{auser.handle}} ({{auser.username}})</a></p>
        {% endfor %}
	{% else %}
	<p>検索結果はありません。</p>
	{% endif %}

	</div>
</div>
{% endblock content %}