{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans 'Delete this entry?' %} | {{block.super}}
{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                <p>{% trans 'Delete this entry?' %}</p>
				<p>{{entry.content}}</p>
				<p>{{entry.song}}</p>
                <input type="submit" value="{% trans 'Delete' %}">
                <a href="{% url 'entry:detail' entry.id %}"><input type="button" value="{% trans 'Cancel' %}"></a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}