{% extends 'base.html' %}
{% block title%}{{entry.title}} | {{block.super}}{% endblock title %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock head %}
{% block content %}
<div class="container">
	<div class "row mt-5">
		<div class="row">
			<div class="col">
				<h2>{{entry.title}}</h2>
				<a href="{% url 'accounts:detail' entry.writer %}" style="font-size: large;" class="text-decoration-none">
				<img src="{{MEDIA_URL}}{{entry.writer.profile_image}}" class="profile-image profile-image-size-xs" />
				{{entry.writer.handle}} ({{entry.writer.username}})
				</a>
			</div>
		</div>
		<div class="row my-4">
			<div class="col">
				<form action="{% url 'likes:process' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name='pk' value="{{entry.id}}">
					<button type="submit" class="like-btn"><i class="fa fa-heart {% if like_status %}like-true{% else %}like-false{% endif %}"></i></button>
				</form>				
			</div>
		</div>
		
		<div class="row my-5">
			{{entry.content|linebreaks}}
			<p>Date:{{entry.date}}</p>
		</div>

		<div class="row mb-3">
			<h3>Featured Song</h3>
			<div class="col">
				<div class="card text-center song-card">
					<div class="card-body">
						<a href="{% url 'musics:song_detail' entry.song.id %}" class="stretched-link text-decoration-none">{{entry.song.song_name}}</a>
					</div>
				</div>
				{% if entry.song.spotify_preview_url %}
				<p class="mt-3"><img src="{{entry.song.artwork_url}}" class="artwork_for_preview" onclick="play_pause(sound);"></p>
				{% endif %}
				{% if entry.song.spotify_link %}
				<p class="mt-3"><a href={{ entry.song.spotify_link}}><img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Black.png" class="spotify_logo"></a></p>
				{% endif %}
			</div>
		</div>

		

		<div class="row mb-3">
			<h3>Featured Artist</h3>
			{% include 'common_templates/artist_card.html' with artist_list=entry.song.artist.all %}
		</div>

		<div class="row mb-3">
			<div class="col"><a href="{% url 'likes:entry_list' entry.id %}">Like:{{like_count}}</a></div>
			<div class="col"><a href="{% url 'comments:list' entry.id %}">Comment:{{comment_count}}</a></div>
			<div class="col"><p>Views:{{view_count}}</p></div>	
		</div>

		<div class="row mb-3">
			<div class="col"><a href="{% url 'comments:create' entry.id %}"><input type="button" value="コメントする"></a></div>
		</div>

		<div col="row">
			{% if entry.writer.username == user.username %}
			<a href="{% url 'entry:update' entry.id %}"><input type="button" value="更新する"></a><a href="{% url 'entry:delete' entry.id %}"><input type="button" value="削除する"></a>
			{% endif %}
		</div>
	</div>
</div>
{% if entry.song.spotify_preview_url %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	var sound = new Howl({
		src: ['{{entry.song.spotify_preview_url}}'],
		format:['mp3']
	});

	function play_pause(sound){
		if (sound.playing()){
			sound.pause();
		}else{
			sound.play();
		}
	}
</script>
{% endif %}
{% endblock content %}