{% extends 'base.html' %}
{% block title%}{{entry.title}} | {{block.super}}{% endblock title %}
{% block head %}
<script src="https://kit.fontawesome.com/e7f7c15297.js" crossorigin="anonymous"></script>
{% load i18n %}
{% endblock head %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="row">
			<div class="col">
				<h2>{{entry.title}}</h2>
				<a href="{% url 'accounts:detail' entry.writer %}" style="font-size: large;" class="text-decoration-none">
				<img src="{{MEDIA_URL}}{{entry.writer.profile_image}}" class="profile-image profile-image-size-xs" />
				{{entry.writer.handle}} ({{entry.writer.username}})
				</a>
			</div>
		</div>
		<div class="row my-4">
			<div class="col">
				<button type="submit" id="like-btn"><i class="fa fa-heart {% if like_status %}like-true{% else %}like-false{% endif %}"></i></button>			
			</div>
		</div>
		
		<div class="row my-5">
			{{entry.content|linebreaks}}
			<p>{% trans 'Created at' %}:{{entry.created_at}}</p>
			<p>{% trans 'Updated at' %}:{{entry.updated_at}}</p>
		</div>

		<div class="row mb-3">
			<h3>{% trans 'Featured Song' %}</h3>
			<div class="col">
				<div class="card text-center song-card">
					<div class="card-body">
						<a href="{% url 'musics:song_detail' entry.song.id %}" class="stretched-link text-decoration-none">{{entry.song.song_name}}</a>
					</div>
				</div>
				{% if entry.song.spotify_preview_url %}
				{% include 'common_templates/spotify_preview.html' with artwork_url=entry.song.artwork_url %}
				{% endif %}
				{% if entry.song.spotify_link %}
				<p class="mt-3"><a href={{ entry.song.spotify_link}}><img src="{{MEDIA_URL}}images/defaults/musics/spotify/listen_on_spotify.png" class="spotify_logo"></a></p>
				{% endif %}
			</div>
		</div>

		

		<div class="row mb-3">
			<h3>{% trans 'Artists' %}</h3>
			{% include 'common_templates/artist_card_for_list.html' with artist_list=entry.song.artist.all %}
		</div>

		<div class="row mb-3">
			<div class="col"><a href="{% url 'likes:entry_liked_user_list' entry.id %}" id='liked_user_list_link'>{% trans 'Likes' %}:{{like_count}}</a></div>
			<div class="col"><a href="{% url 'comments:list' entry.id %}">{% trans 'Comments' %}:{{comment_count}}</a></div>
			<div class="col"><p>{% trans 'Views' %}:{{view_count}}</p></div>	
		</div>

		<div class="row mb-3">
			<div class="col"><a href="{% url 'comments:create' entry.id %}"><input type="button" value="{% trans 'Write a comment' %}"></a></div>
		</div>

		<div col="row">
			{% if entry.writer.username == user.username %}
			<a href="{% url 'entry:update' entry.id %}"><input type="button" value="{% trans 'Update' %}"></a><a href="{% url 'entry:delete' entry.id %}"><input type="button" value="{% trans 'Delete' %}"></a>
			{% endif %}
		</div>
	</div>
</div>
{% if entry.song.spotify_preview_url %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% load static %}
<script src="{% static 'js/howler-handler.js' %}" spotify_preview_url="{{entry.song.spotify_preview_url}}"></script>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'js/ajax_csrf.js' %}"></script>
<script src="{% static 'js/like-handler.js' %}" like_url="{% url 'likes:like' %}" entry_id="{{entry.id}}" is_loggedin="{{user.is_authenticated}}"></script>
{% endblock content %}