{% extends 'base.html' %}
{% load i18n %}
{% block title%}{% trans 'Entry' %} {% if object %}{% trans 'update' %}{% else %}{% trans 'Post' %}{% endif %} | {{block.super}}{% endblock title %}
{% block head %}
	{{ form.media.css }}
{% endblock head %}


{% block content %}
<div class="container">
	<div class="row mt-5 select2_form">
		<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<p>"test song"という曲が登録されているので、そちらをお使いください。</p>
		<p>また、新しく曲を登録することも可能です。</p>
		<input type="submit" value="{% if object %}{% trans 'Update' %}{% else %}{% trans 'Post' %}{% endif %}">
		</form>
		<a href="#" id="add_song_link">{% trans 'Add song' %}</a>
	</div>

	
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% load static %}
<script src="{% static 'js/add_song.js' %}" song_create_popup_url="{% url 'musics:song_create_popup' %}"></script>
{% endblock content %}