{% extends 'base.html' %}
{% load i18n %}
{% block title%} {% if song %}{{song.song_name}}{% elif artist %}{{artist.artist_name}}{% endif %}の記事一覧 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<h2>{% if song %}{{song.song_name}}{% elif artist %}{{artist.artist_name}}{% endif %}の記事一覧</h2>
		{% if entry_list %}
			<div class="row">
				{% include 'common_templates/entry_card_with_writer.html' %}
			</div>
		{% else %}
			<p>{% trans 'There is no entry.' %}</p>
		{% endif %}
	</div>
	
	{% include 'common_templates/pagination.html' %}
</div>
{% endblock content %}