{% extends 'base.html' %}
{% block title%} コメントリスト | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row mt-5">
        <h1><a href="{% url 'entry:detail' entry.id %}">{{entry.title}}</a>へのコメント</h1>
	    {% if comment_list%}
            {% for comment in comment_list %}
            <p>{{comment.comment}} by <a href="{% url 'accounts:detail' comment.user %}">{{comment.user}}</a>{% if comment.user.username == user.username %}<a href="{% url 'comments:update' comment.id %}"> 更新</a><a href="{% url 'comments:delete' comment.id %}"> 削除</a>{% endif %}</p>
            {% endfor %}
        {% else %}
        コメントはありません。
        {% endif %}

         <p><a href="{% url 'comments:create' entry.id %}">コメントする</a></p>

	</div>
</div>
{% endblock content %}