{% extends 'base.html' %}
{% block title%} {{this_page_handle}} ({{this_page_username}})のフォロワー一覧 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h1><a href='{% url 'accounts:detail' this_page_username '>{{this_page_handle}}</a>のフォロワー一覧</h1>

			{% if followers %}
			{% for follower in followers%}
			<p><a href='{% url 'accounts:detail' follower.user.username%}'>{{follower.user.handle}}({{follower.user.username}})</a></p>
			{% endfor %}
			{% else %}
			フォロワーはいません
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}