{% extends 'base.html' %}
{% block title%} {{this_page_handle}} ({{this_page_username}})のフォロー一覧 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h1><a href="{% url 'accounts:detail' this_page_username %}">{{this_page_handle}}</a>のフォロー一覧</h1>

			{% if follows %}
			{% for follow in follows%}
			<p><a href='{% url 'accounts:detail' follow.follower %}'><img src="/media/{{follow.follower.profile_image}}" height="{{profile_image_size.HEIGHT}}" width="{{profile_image_size.WIDTH}}"/>{{follow.follower.handle}}({{follow.follower}})</a></p>
			{% endfor %}
			{% else %}
			フォローしている人はいません
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}