{% extends 'base.html' %}
{% load i18n %}
{% block title%}{% trans 'Login' %} | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<form method="POST">
				{% csrf_token %}
				{{form.as_p}}
				<input type="submit" value="{% trans 'Login' %}">

				<p><a href="{% url 'accounts:passwordreset' %}">{% trans 'Reset Password' %}</a></p>
			</form>
			<a href="{% url 'mlog:login_as_sample_user' %}"><input type="button" value="{% trans 'Login as sample user' %}"></a>
		</div>
	</div>
</div>
{% endblock content %}