{% extends 'base.html' %}
{% block title%}サインアップ | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<form method="post" action="{% url 'accounts:signup' %}">
				{% csrf_token %}
				<table>
					<tr>
						<td>{{form.username.label_tag}}</td>
						<td>{{form.username}}</td>
					</tr>
					<tr>
						<td>{{form.handle.label_tag}}</td>
						<td>{{form.handle}}</td>
					</tr>
					<tr>
						<td>{{form.password1.label_tag}}</td>
						<td>{{form.password1}}</td>
					</tr>
					<tr>
						<td>{{form.password2.label_tag}}</td>
						<td>{{form.password2}}</td>
					</tr>
					<tr>
						<td>{{form.biograph.label_tag}}</td>
						<td>{{form.biograph}}</td>
					</tr>
				</table>
				<input type="submit" value="サインアップ"/>
				{% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
			</form>
		</div>
	</div>
</div>
{% endblock content %}