{% extends 'base.html' %}
{% block title%}プロフィール更新 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{form.as_p}}
				<input type="submit" value="更新">
			</form>
		</div>
	</div>
	<div class="row mt-5">
		<a href="{% url 'accounts:password' %}"><input type="button" value="パスワード変更"></a>
	</div>
	<div class="row mt-5">
		<a href="{% url 'accounts:active_status' %}">退会する</a>
	</div>
</div>
{% endblock content %}