{% extends 'base.html' %}
{% block title%} {{user.handle}} ({{user.username}}) | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h1>{{detail_user.handle}} ({{detail_user.username}})</h1>
			{% if detail_user.biograph %}
			<p>{{detail_user.biograph}}</p>
			{% else %}
			<p>自己紹介が入力されていません。</p>
			{% endif %}

			<p>{{follow_count}}フォロー | {{follower_count}}フォロワー</p>

			{% if not is_myself %}
			<form action="{% url 'accounts:follow' %}" method="POST">
				{% csrf_token %}
				<input type="hidden" name='username' value="{{detail_user.username}}">
				<input type="submit" value="{% if is_following %}フォローをやめる{% else %}フォローする{% endif %}">
			</form>
			{% endif %}

			<h2>投稿</h2>
			{% if entries %}
			{% for entry in entries %}
			<p>{{entry.title}} (曲:{{entry.song.song_name}} / {{entry.song.artist}})</p>
			{% endfor %}
			{% else %}
			表示する記事がありません。
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}