{% extends 'base.html' %}
{% block title%} {{user.handle}} ({{user.username}}) | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h1>{{user.handle}} ({{user.username}})</h1>
			{% if user.biograph %}
			<p>{{user.biograph}}</p>
			{% else %}
			<p>自己紹介が入力されていません。</p>
			{% endif %}

			<p>{{follow_count}}フォロー | {{follower_count}}フォロワー</p>

			<h2>投稿</h2>
			{% if entries %}
			{% for entry in entries %}
			<p>{{entry.title}} (曲:{{entry.song.song_name}} / {{entry.song.artist}})</p>
			{% endfor %}
			{% else %}
			表示する記事がありません。
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}