{% extends 'base.html' %}
{% load i18n %}
{% block title%} {{detail_user.handle}} ({{detail_user.username}}) | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<div class="col text-center">
			<h1>{{detail_user.handle}} ({{detail_user.username}})</h1>
			<img src="{{MEDIA_URL}}{{detail_user.profile_image}}" class="profile-image profile-image-size-lg"/>
		</div>

		<div class="col pt-5">
			{% if detail_user.biograph %}
			<p>{{detail_user.biograph}}</p>
			{% else %}
			<p>{% trans 'No biograph' %}</p>
			{% endif %}

			<p><a href="{% url 'follow:following' detail_user.username %}">{{follow_count}} {% trans 'follow' %}</a> | <a href="{% url 'follow:follower' detail_user.username %}" id="follower_link"> <span id="follower_count">{{follower_count}}</span> {% trans 'follower' %}</a></p>

			{% if not is_myself %}
				{% if user.is_authenticated %}
				<input type="button" id="follow_btn" value="{% if is_following %}フォローをやめる{% else %}フォローする{% endif %}">
				{% else %}
				<a href="{% url 'accounts:login' %}"><input type="button" value="フォローする"></a>
				{% endif %}
			{% endif %}
			<div class="mt-5">
				<p><a href="{% url 'likes:user_liked_entry_list' detail_user.username %}">{% trans 'Liked Entry' %}({{liked_entry_count}})</a></p>
				<p><a href="{% url 'favorite_artists:user_favorites_artist_list' detail_user.username %}">{% trans 'Favorite Artists' %}</a></p>
			</div>
		</div>

		<div class="row mt-5">
			<h2>{% trans 'Entry' %}</h2>
			{% if entries %}
				{% include 'common_templates/entry_card_without_writer.html' with entry_list=entries %}
			<p><a href="{% url 'accounts:userentrylist' detail_user.username %}">{% trans 'See more' %}</a></p>
			{% else %}
			{% trans 'There is no entry.' %}
			{% endif %}
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% load static %}
{% if not is_myself %}
<script src="{% static 'js/ajax_csrf.js' %}"></script>
<script src="{% static 'js/follow_handler.js' %}" follow_url="{% url 'follow:follow' %}" follower_user="{{detail_user.username}}"></script>
{% endif %}
{% endblock content %}