{% extends 'base.html' %}
{% block title%} {{detail_user.handle}} ({{detail_user.username}})の投稿一覧 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h2><a href="{% url 'accounts:detail' detail_user.username %}">{{detail_user.handle}}</a>の投稿</h2>
			{% if entry_list %}
			<div class="col">
				{% for entry in entry_list %}
				{% include 'common_templates/entry_card_without_writer.html' %}
			{% endfor %}
			{% else %}
			表示する記事がありません。
			{% endif %}

		</div>
	</div>

	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{page_obj.previous_page_number}}">previous</a>
			{% endif %}
			<span class="current">
				Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.
			</span>
			{% if page_obj.has_next %}
			<a href="?page={{page_obj.next_page_number}}">next</a>
			<a href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</div>
{% endblock content %}