{% extends 'base.html' %}
{% block title%} {{detail_user.handle}} ({{detail_user.username}}) | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h1>{{detail_user.handle}} ({{detail_user.username}})</h1>
			<img src="/media/{{detail_user.profile_image}}" height="{{profile_image_size.HEIGHT}}" width="{{profile_image_size.WIDTH}}" />
			{% if detail_user.biograph %}
			<p>{{detail_user.biograph}}</p>
			{% else %}
			<p>自己紹介が入力されていません。</p>
			{% endif %}

			<p><a href="{% url 'accounts:followlist' detail_user.username %}">{{follow_count}}フォロー</a> | <a href="{% url 'accounts:followerlist' detail_user.username %}"> {{follower_count}}フォロワー</a></p>

			{% if not is_myself %}
				{% if user.username %}
				<form action="{% url 'accounts:follow' %}" method="POST">
					{% csrf_token %}
					<input type="hidden" name='username' value="{{detail_user.username}}">
					<input type="submit" value="{% if is_following %}フォローをやめる{% else %}フォローする{% endif %}">
				</form>
				{% else %}
				<a href="{% url 'accounts:login' %}"><input type="button" value="フォローする"></a>
				{% endif %}
			{% endif %}

			<h2>投稿</h2>
			{% if entries %}
			{% for entry in entries %}
			<p><a href="{% url 'mlog:detail' entry.id %}">{{entry.title}}</a> (曲:<a href="{% url 'mlog:songdetail' entry.song.id %}">{{entry.song.song_name}}</a> / {% for artist in entry.song.artist.all %}<a href="{% url 'mlog:artistdetail' artist.artist_name_id %}">{{artist.artist_name}}</a>{% endfor %}) </p>
			{% endfor %}
			<p><a href="{% url 'accounts:userentrylist' detail_user.username %}">もっと見る</a></p>
			{% else %}
			表示する記事がありません。
			{% endif %}

			<p><a href="{% url 'mlog:likeentrylist' detail_user.username %}">ライクした記事({{liked_entry_count}})</a></p>
			<p><a href="{% url 'accounts:favoriteartist' detail_user.username %}">お気に入りアーティスト一覧</a></p>
		</div>
	</div>
</div>
{% endblock content %}