{% extends 'base.html' %}
{% block title%} {{detail_user.handle}} ({{detail_user.username}})の投稿一覧 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col mt-5">
			<h2><a href="{% url 'accounts:detail' detail_user.username %}">{{detail_user.handle}}</a>の投稿</h2>
			{% if entry_list %}
			{% for entry in entry_list %}
			<div class="card m-3 entry-list-card text-center">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<a href="{% url 'entry:detail' entry.id %}"><h4 class="card-title">{{entry.title}}</h4></a>
						</div>
	
						<div class="col">
							<p>Song:<a href="{% url 'musics:song_detail' entry.song.id %}" class="card-link">{{entry.song.song_name}}</a></p>
							<p>Artist:{% for artist in entry.song.artist.all %}<a href="{% url 'musics:artist_detail' artist.artist_name_id %}" class="card-link">{{artist.artist_name}} </a>{% endfor %}</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% else %}
			表示する記事がありません。
			{% endif %}

		</div>
	</div>

	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
				<a href="?page=1">&laquo; first</a>
				<a href="?page={{page_obj.previous_page_number}}">previous</a>
			{% endif %}
			<span class="current">
				Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.
			</span>
			{% if page_obj.has_next %}
			<a href="?page={{page_obj.next_page_number}}">next</a>
			<a href="?page={{page_obj.paginator.num_pages}}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</div>
{% endblock content %}