{% extends 'base.html' %}
{% block title%}{{entry.title}} | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class "row mt-5">
		<h1>{{entry.title}}</h1>
		<p>written by <a href="{% url 'accounts:detail' entry.writer %}">{{entry.writer}}</a></p>
		{{entry.content}}

		<p>Date:{{entry.date}}</p>
		<p><a href="{% url 'mlog:likelist' entry.id %}">Like:{{like}}</a></p>
		<p><a href="{% url 'mlog:commentlist' entry.id %}">Comment:{{comment}}</a></p>

		<form action="{% url 'mlog:likeprocess' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" name='pk' value="{{entry.id}}">
			<input type="submit" value="{% if like_status %}Unlike{% else %}Like{% endif %}">
		</form>

	</div>
</div>
{% endblock content %}