{% extends 'base.html' %}
{% block title%}投稿 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class "row mt-5">
		<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="投稿">
		</form>
		<a href="javascript:void(0);" onclick="window.open('{% url 'musics:song_create_popup' %}','subwin_song','width=500,height=500');">曲を追加</a>
	</div>
</div>
<script>
	function add_song(name,pk){
		var select=document.getElementById('id_song');
		var option=document.createElement('option');
		option.setAttribute('value',pk);
		option.innerHTML=name;

		select.add(option,0);
		select.options[0].selected=true;
	}
</script>
{% endblock content %}