{% extends 'base.html' %}
{% block title%}{{entry.title}} | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class "row mt-5">
		<h1>{{entry.title}}</h1>
		<p>written by <a href="{% url 'accounts:detail' entry.writer %}">{{entry.writer}}</a></p>
		<img src='/media/{{entry.writer.profile_image}}' height="{{profile_image_size.HEIGHT}}" width="{{profile_image_size.WIDTH}}" /><br>
		{{entry.content}}

		<p>Date:{{entry.date}}</p>
		<p>Featured song:<a href="{% url 'mlog:songdetail' entry.song.id %}">{{entry.song.song_name}}</a></p>
		<p>Featured artist:{% for artist in entry.song.artist.all %}<a href="{% url 'mlog:artistdetail' artist.artist_name_id %}">{{artist.artist_name}} </a> {% endfor %}</p>

		<p><a href="{% url 'likes:entry_list' entry.id %}">Like:{{like_count}}</a></p>
		<p><a href="{% url 'comments:list' entry.id %}">Comment:{{comment_count}}</a></p>
		<p>Views:{{view_count}}</p>

		<a href="{% url 'comments:create' entry.id %}"><input type="button" value="コメントする"></a>

		<form action="{% url 'likes:process' %}" method="POST">
			{% csrf_token %}
			<input type="hidden" name='pk' value="{{entry.id}}">
			<input type="submit" value="{% if like_status %}Unlike{% else %}Like{% endif %}">
		</form>

		{% if entry.writer.username == user.username %}
		<a href="{% url 'mlog:entrydelete' entry.id %}"><input type="button" value="削除する"></a>
		{% endif %}

	</div>
</div>
{% endblock content %}