{% extends 'base.html' %}
{% block title%} Likeリスト | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row mt-5">
        <h2><a href="{% url 'entry:detail' entry.id %}">{{entry.title}}</a>へのLike</h2>
	    {% if like_list%}
            {% for like in like_list %}
            {% include 'common_templates/entry_card_with_writer.html' %}
            {% endfor %}
        {% else %}
        Likeはありません。
        {% endif %}
	</div>
</div>
{% endblock content %}