{% extends 'base.html' %}
{% block title%}{{artist.artist_name}} | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class "row mt-5">
        <h1>{{artist.artist_name}}</h1>
		<h2>Biograph</h2>
		{% if artist.artist_biograph %}
		{{artist.artist_biograph}}
		{% else %}
		<p>紹介はありません。</p>
		{% endif %}

		<form method="POST" action="{% url 'favorite_artists:process' %}" >
			{% csrf_token %}
			<input type="hidden" value="{{artist.artist_name_id}}" name="artist_name_id">
			<input type="submit" value="{% if fav_status %}お気に入り解除{% else %}お気に入りに登録{% endif %}">
		</form>


		<h2>記事一覧</h2>
		{% if entries %}
			{% for entry in entries %}
			<div class="card m-3 entry-list-card text-center">
				<div class="card-body">
					<div class="row">
						<div class="col">
							<a href="{% url 'entry:detail' entry.id %}"><h4 class="card-title">{{entry.title}}</h4></a>
							<a href="{% url 'accounts:detail' entry.writer.username %}"><img src="{{MEDIA_URL}}{{entry.writer.profile_image}}" class="profile-image profile-image-size-xs" /><h6 class="card-subtitle">{{entry.writer.handle}} ({{entry.writer.username}})</h6></a>
						</div>
	
						<div class="col">
							<p>Song:<a href="{% url 'musics:song_detail' entry.song.id %}" class="card-link">{{entry.song.song_name}}</a></p>
							<p>Artist:{% for artist in entry.song.artist.all %}<a href="{% url 'musics:artist_detail' artist.artist_name_id %}" class="card-link">{{artist.artist_name}} </a>{% endfor %}</p>
						</div>
					</div>
					
					
				</div>
			</div>	
			{% endfor %}
		{% else %}
		<p>記事はありません。</p>
		{% endif %}
	</div>
</div>
{% endblock content %}