{% extends 'base.html' %}
{% load i18n %}
{% block title%}{% trans 'Aritst' %}{% if object %}{% trans 'Update' %}{% else %}{% trans 'Post' %}{% endif %} | {{block.super}}{% endblock title %}
{% block head %}
	{{ form.media.css }}
{% endblock head %}
{% block content %}
<div class="container">
	{% if not object %}
	<p>ジャンルは、"test genre"というジャンルが登録されているので、そちらをお使いください。</p>
	<p>また、新しくジャンルを登録することも可能です。</p>
	{% endif %}
	<div class="row mt-5 select2-form">
		<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="{% if object %}{% trans 'Update' %}{% else %}{% trans 'Post' %}{% endif %}">
		</form>
		<a href="#" id="add_genre_link">{% trans 'Add genre' %}</a>
	</div>
</div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% load static %}
<script src="{% static 'js/add_genre.js' %}" genre_create_popup_url="{% url 'musics:genre_create_popup' %}"></script>
{% endblock content %}