{% extends 'base.html' %}
{% block title%}{{artist.artist_name}} | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class "row mt-5">
        <h1>{{artist.artist_name}}</h1>
		<h2>Biograph</h2>
		{% if artist.artist_biograph %}
		{{artist.artist_biograph}}
		{% else %}
		<p>紹介はありません。</p>
		{% endif %}

		<form method="POST" action="{% url 'favorite_artists:process' %}" >
			{% csrf_token %}
			<input type="hidden" value="{{artist.artist_name_id}}" name="artist_name_id">
			<input type="submit" value="{% if fav_status %}お気に入り解除{% else %}お気に入りに登録{% endif %}">
		</form>


		<h2>記事一覧</h2>
		{% if entries %}
			{% for entry in entries %}
			<p><a href="{% url 'entry:detail' entry.id %}">{{entry.title}} </a>by <a href="{% url 'accounts:detail' entry.writer.username %}">{{entry.writer.handle}}({{entry.writer.username}})</a></p>
			{% endfor %}
		{% else %}
		<p>記事はありません。</p>
		{% endif %}
	</div>
</div>
{% endblock content %}