{% extends 'base.html' %}
{% load i18n %}
{% block title%}{{artist.artist_name}} | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row mt-5">
        <h1>{{artist.artist_name}}</h1>
		<h2>{% trans 'Biograph' %}</h2>
		{% if artist.artist_biograph %}
		{{artist.artist_biograph}}
		{% else %}
		<p>{% trans 'There is no biograph.' %}</p>
		{% endif %}

		{% if artist.belong_to %}
			<h2>{% trans 'Belong to' %}</h2>
			{% include 'common_templates/artist_card.html' with artist_object=artist.belong_to %}
		{% endif %}

		{% if members %}
			<h2>{% trans 'Members' %}</h2>
			<div class='row'>
				{% include 'common_templates/artist_card_for_list.html' with artist_list=members %}
			</div>
		{% endif %}

		<h2>{% trans 'Genre' %}</h2>
		<div class="row">
			{% include 'common_templates/genre_card.html' with genre_list=artist.genre.all %}
		</div>
	</div>

	<div class="row mt-5">
		<input type="button" id="favorite-btn" value="{% if fav_status %}お気に入り解除{% else %}お気に入り登録{% endif %}" class="fav-btn">
		<p><a href="{% url 'favorite_artists:user_list_by_favorited_artist' artist.slug %}">{% trans 'Users favorited this artist.' %}</a></p>
	</div>

	<div class="row mt-5">
		<h2>{% trans 'Entries' %}</h2>
		{% if entries %}
			{% include 'common_templates/entry_card_with_writer.html' with entry_list=entries %}
			<a href="{% url 'entry:entry_list_by_artist' artist.slug %}">{% trans 'See more' %}</a>
		{% else %}
		<p>{% trans 'There is no entry.' %}</p>
		{% endif %}
	</div>

	<div class="row mt-5">
		<h2>{% trans 'Songs' %}</h2>
		{% if song_list %}
			{% include 'common_templates/song_card_with_artist.html' %}
			<a href="{% url 'musics:song_by_artist' artist.slug %}">{% trans 'See more' %}</a>
		{% else %}
		<p>{% trans 'There is no song.' %}</p>
		{% endif %}
	</div>

	<div class="row mt-5">
		<p><a href="{% url 'musics:artist_update' artist.slug %}">{% trans 'Edit artist information.' %}</a></p>
	</div>
	
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'js/ajax_csrf.js' %}"></script>
<script src="{% static 'js/favorite_handler.js' %}" favorite_url="{% url 'favorite_artists:favorite' %}" artist_slug="{{artist.slug}}" is_loggedin="{{ user.is_authenticated }}"></script>
{% endblock content %}