{% extends 'base.html' %}
{% block title%}{{artist.artist_name}} | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row mt-5">
        <h1>{{artist.artist_name}}</h1>
		<h2>Biograph</h2>
		{% if artist.artist_biograph %}
		{{artist.artist_biograph}}
		{% else %}
		<p>紹介はありません。</p>
		{% endif %}

		{% if artist.belong_to %}
			<h2>所属グループ</h2>
			{% include 'common_templates/artist_card.html' with artist=artist.belong_to %}
		{% endif %}

		{% if members %}
			<h2>所属メンバー</h2>
			<div class='row'>
			{% for member in members %}
				{% include 'common_templates/artist_card.html' with artist=member%}
			{% endfor %}
			</div>
		{% endif %}

		<h2>ジャンル</h2>
		<div class="row">
			{% for genre in artist.genre.all %}
				{% include 'common_templates/genre_card.html' %}
			{% endfor %}
		</div>
	</div>

	<div class="row mt-5">
		<form method="POST" action="{% url 'favorite_artists:process' %}" >
			{% csrf_token %}
			<input type="hidden" value="{{artist.slug}}" name="slug">
			<input type="submit" value="{% if fav_status %}お気に入り解除{% else %}お気に入りに登録{% endif %}">
		</form>
		<p><a href="{% url 'favorite_artists:user_list_by_favorited_artist' artist.slug %}">お気に入りに登録しているユーザ一覧</a></p>
	</div>

	<div class="row mt-5">
		<h2>記事一覧</h2>
		{% if entries %}
			{% include 'common_templates/entry_card_with_writer.html' with entry_list=entries %}
			<a href="{% url 'entry:entry_list_by_artist' artist.slug %}">もっと見る</a>
		{% else %}
		<p>記事はありません。</p>
		{% endif %}
	</div>

	<div class="row mt-5">
		<h2>曲一覧</h2>
		{% if song_list %}
			{% include 'common_templates/song_card_with_artist.html' %}
			<a href="{% url 'musics:song_by_artist' artist.slug %}">もっと見る</a>
		{% else %}
		<p>曲はありません。</p>
		{% endif %}
	</div>

	<div class="row mt-5">
		<p><a href="{% url 'musics:artist_update' artist.slug %}">アーティスト情報を編集</a></p>
	</div>
	
</div>
{% endblock content %}