{% extends 'base.html' %}
{% load i18n %}
{% block title%}{% trans 'Genre' %} {% if object%}{% trans 'Update' %}{% else %}{% trans 'Post' %}{% endif %} | {{block.super}}{% endblock title %}
{% block head %}
	{{ form.media.css }}>
{% endblock head %}
{% block content %}
<div class="container">
	<div class="row mt-5 select2_form">
		<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="{% if object%}{% trans 'Update' %}{% else %}{% trans 'Post' %}{% endif %}">
		</form>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% endblock content %}