{% extends 'base.html' %}
{% block title%}曲{% if object %}更新{% else %}登録{% endif %} | {{block.super}}{% endblock title %}
{% block head %}
	{{ form.media.css }}
	<style>
		input,select{width:50%}
	</style>
{% endblock head %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="登録">
		</form>
		<a href="javascript:void(0)" onclick="window.open('{% url 'musics:artist_create_popup' %}','subwin_artist')">アーティストを追加</a>
		<a href="javascript:void(0)" onclick="window.open('{% url 'musics:genre_create_popup' %}','subwin_genre')">ジャンルを追加</a>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
<script>
	function add_artist(name,pk){
		var select=document.getElementById('id_artist');
		var option=document.createElement('option');
		option.setAttribute('value',pk);
		option.innerHTML=name;

		select.add(option,0);
		select.options[0].selected=true;
	}

	function add_genre(name,pk){
		var select=document.getElementById('id_genre');
		var option=document.createElement('option');
		option.setAttribute('value',pk);
		option.innerHTML=name;

		select.add(option,0);
		select.options[0].selected=true;
	}

	function getCookie(name){
		var cookieValue = null;
		if (document.cookie && document.cookie !== ''){
			var cookies = document.cookie.split(';');
			for (var i = 0; i<cookies.length; i++){
				if (cookie.substring(0, name.length + 1)===(name+'=')){
					cookieValue = decodeURIComponent(cookie.substring(name.length+1));
					break;
				}
			}
		}
	}

	var csrftoken = getCookie('csrftoken');

	function csrfSafeMethod(method){
		return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method))
	}

	$.ajaxSetup({
		beforeSend: function(xhr, settings){
			if (!csrfSafeMethod(settings.type) && !this.crossDomain){
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});

	$('#spotify-track-select').on('submit', function(e){
		e.preventDefault();
	
		$.ajax({
			'url':'{% url ":"%}',
			'type':'POST',
			'data':{
				'search_keyword':$('#search_keyword').val()
			},
			'dataType':'json'
		})
		.done(function(response){
			$('.result').prepend('');
		});
	});
</script>
{% endblock content %}