{% extends 'base.html' %}
{% block title%}{{song.song_name}} | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<h1>{{song.song_name}}</h1>

		<h2>アーティスト</h2>
		{% include 'common_templates/artist_card.html' with artist_list=song.artist.all %}
	</div>

	<div class="row mt-5">
		<h2>この曲の記事一覧</h2>
		{% for entry in entries %}
		<div class="card m-3 entry-list-card text-center">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<a href="{% url 'entry:detail' entry.id %}"><h4 class="card-title">{{entry.title}}</h4></a>
						<a href="{% url 'accounts:detail' entry.writer.username %}"><img src="{{MEDIA_URL}}{{entry.writer.profile_image}}" class="profile-image profile-image-size-xs" /><h6 class="card-subtitle">{{entry.writer.handle}} ({{entry.writer.username}})</h6></a>
					</div>

					<div class="col">
						<p>Song:<a href="{% url 'musics:song_detail' entry.song.id %}" class="card-link">{{entry.song.song_name}}</a></p>
						<p>Artist:{% for artist in entry.song.artist.all %}<a href="{% url 'musics:artist_detail' artist.slug %}" class="card-link">{{artist.artist_name}} </a>{% endfor %}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<p><a href="{% url 'entry:entry_list_by_song' song.pk %}">もっと見る</a></p>
	</div>

	<div class="row mt-5">
		<a href="{% url 'musics:song_update' song.pk %}">曲情報を編集</a>
	</div>
</div>
{% endblock content %}