{% extends 'base.html' %}
{% load i18n %}
{% block title%}{% trans 'Song' %} {% if object %}{% trans 'update' %}{% else %}{% trans 'post' %}{% endif %} | {{block.super}}{% endblock title %}
{% block head %}
	{{ form.media.css }}
{% endblock head %}
{% block content %}
<div class="container">
	<p>アーティストは、"test artist"というアーティストが登録されているので、そちらをお使いください。</p>
	<p>ジャンルは、"test genre"というジャンルが登録されているので、そちらをお使いください。</p>
	<p>また、新しくアーティストやジャンルを登録することも可能です。</p>
	<div class="row mt-5 select2_form">
		<form id="song_form" method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="{% if object %}{% trans 'Update' %}{% else %}{% trans 'Post' %}{% endif %}">
		</form>
		<a href="#" id="add_artist_link">{% trans 'Add artist' %}</a>
		<a href="#" id="add_genre_link">{% trans 'Add genre' %}</a>
		<a href="#" id="add_spotify_preview_url_link">{% trans 'Select song on Spotify.' %}</a>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% load static %}
<script src="{% static 'js/add_genre.js' %}" genre_create_popup_url="{% url 'musics:genre_create_popup' %}"></script>
<script src="{% static 'js/add_artist.js' %}" add_artist_link_url="{% url 'musics:artist_create_popup' %}"></script>
<script src="{% static 'js/add_spotify_preview_url.js' %}" add_spotify_preview_url_url="{% url 'musics:select_spotify_tracks' %}"></script>
{% endblock content %}