{% extends 'base.html' %}
{% load i18n %}
{% block title%}{{song.song_name}} | {{block.super}}{% endblock title %}
{% block head %}
<script src="https://kit.fontawesome.com/e7f7c15297.js" crossorigin="anonymous"></script>
{% endblock head %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<h1>{{song.song_name}}</h1>

		<h2>{% trans 'Artist' %}</h2>
		{% include 'common_templates/artist_card_for_list.html' with artist_list=song.artist.all %}
	</div>

	<div class="row mt-5">
		<h2>{% trans 'Genre' %}</h2>
		{% include 'common_templates/genre_card.html' with genre_list=song.genre.all %}
	</div>

	<div class="row mt-5">
		<h3>{% trans 'Preview' %}</h3>
		{% if song.spotify_preview_url %}
		{% include 'common_templates/spotify_preview.html' with artwork_url=song.artwork_url %}
		{% endif %}
		{% if song.spotify_link %}
		{% include 'common_templates/spotify_link.html' with spotify_link=song.spotify_link %}	
		{% endif %}
	</div>



	<div class="row mt-5">
		<h2>{% trans 'Entries of this song.' %}</h2>
		{% for entry in entries %}
		<div class="card m-3 entry-list-card text-center">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<a href="{% url 'entry:detail' entry.id %}"><h4 class="card-title">{{entry.title}}</h4></a>
						<a href="{% url 'accounts:detail' entry.writer.username %}"><img src="{{MEDIA_URL}}{{entry.writer.profile_image}}" class="profile-image profile-image-size-xs" /><h6 class="card-subtitle">{{entry.writer.handle}} ({{entry.writer.username}})</h6></a>
					</div>

					<div class="col">
						<p>{% trans 'Song' %}:<a href="{% url 'musics:song_detail' entry.song.id %}" class="card-link">{{entry.song.song_name}}</a></p>
						<p>{% trans 'Aritst' %}:{% for artist in entry.song.artist.all %}<a href="{% url 'musics:artist_detail' artist.slug %}" class="card-link">{{artist.artist_name}} </a>{% endfor %}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<p><a href="{% url 'entry:entry_list_by_song' song.pk %}">{% trans 'See more' %}</a></p>
	</div>

	<div class="row mt-5">
		<a href="{% url 'musics:song_update' song.pk %}">{% trans 'Edit song information.' %}</a>
	</div>
</div>
{% if song.spotify_preview_url %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.3/howler.min.js" integrity="sha512-6+YN/9o9BWrk6wSfGxQGpt3EUK6XeHi6yeHV+TYD2GR0Sj/cggRpXr1BrAQf0as6XslxomMUxXp2vIl+fv0QRA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% load static %}
<script src="{% static 'js/howler_handler.js' %}" spotify_preview_url="{{song.spotify_preview_url}}"></script>
{% endif %}
{% endblock content %}