{% extends 'base.html' %}
{% block title%}曲{% if object %}更新{% else %}登録{% endif %} | {{block.super}}{% endblock title %}
{% block head %}
	{{ form.media.css }}
{% endblock head %}
{% block content %}
<div class="container">
	<div class="row mt-5 select2_form">
		<form id="song_form" method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" value="登録">
		</form>
		<a href="#" id="add_artist_link">アーティストを追加</a>
		<a href="#" id="add_genre_link">ジャンルを追加</a>
		<a href="#" id="add_spotify_preview_url_link">Spotifyで曲を選択</a>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% load static %}
<script src="{% static 'js/add_genre.js' %}" genre_create_popup_url="{% url 'musics:genre_create_popup' %}"></script>
<script src="{% static 'js/add_artist.js' %}" add_artist_link_url="{% url 'musics:artist_create_popup' %}"></script>
<script src="{% static 'js/add_spotify_preview_url.js' %}" add_spotify_preview_url_url="{% url 'musics:select_spotify_tracks' %}"></script>
{% endblock content %}