{% extends 'base.html' %}
{% block title%}Spotifyでトラックを選択 | {{block.super}}{% endblock title %}
{% block content %}
<div class="container">
	<div class="row mt-5">
		<form action="{% url 'musics:select_spotify_tracks' %}" method="POST">
			{% csrf_token %}
			<p>
				<label>Spotify track search:</label>
				<input type="search" id="search_keywords">
				<input type="button" value="検索" id="search_btn">
				<select id="spotify_track_select"  name="selected_track">
					<option selected disabled>曲を選んでください</option>
				</select>
			</p>
			<input type="submit" value="送信">
		</form>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% load static %}
<script src="{% static 'js/ajax_csrf.js' %}"></script>
<script src="{% static 'js/spotify_search_ajax.js' %}" type="text/javascript" search_url="{% url 'musics:search_spotify_tracks' %}"></script>
{% endblock content %}