body {
	background-color: rgb(60, 68,81);
}

.navbar {
	position: relative;
}
.brand {
	position: absolute;
	left:50%;
	margin-left: -50px !important;
	display:block;
}

.song-card {
	background-color: snow;
}

.artist-card {
	background-color: mintcream;
}

.profile-image {
	border-radius: 50%;
}

.like-btn {
	background-color: Transparent;
	border: none;
	border-radius: 50%;
}


.entry-list-card {
	width: 30rem;
}