body {
	background-color:gainsboro;
}

.navbar {
	position: relative;
}
.brand {
	position: absolute;
	left:50%;
	margin-left: -50px !important;
	display:block;
}

.song-card {
	background-color: snow;
}

.artist-card {
	background-color: mintcream;
}

.profile-image {
	border-radius: 50%;
}

.like-btn {
	background-color: Transparent;
	border: none;
	border-radius: 50%;
}


.entry-list-card {
	width: 30rem;
	background-color: snow;
}

.profile-image-size-xs{
	width: 50px;
	height: 50px;
}

.profile-image-size-sm{
	width: 100px;
	height: 100px;
}

.profile-image-size-mid{
	width: 200px;
	height: 200px;
}

.profile-image-size-lg{
	width: 250px;
	height: 250px;
}

.profile-image-size-xlg{
	width: 300px;
	height: 300px;
}