body {
	background-color:gainsboro;
	padding-top: 70px;
}

.brand {
	position: absolute;
	left:50%;
	margin-left: -50px !important;
	display:block;
}

.song-card {
	background-color: snow;
	width: 15rem;
}

.song-card-with-artist {
	height: 15rem;
}

.artist-card {
	background-color: mintcream;
	width: 10rem;
}

.artist-card-large {
	width: 20rem;
}

.profile-image {
	border-radius: 50%;
}

.like-btn {
	background-color: Transparent;
	border: none;
	border-radius: 50%;
	font-size:36px;
}

.like-true {
	color: red;
}

.like-false {
	color: darkgrey;
}


.entry-list-card {
	width: 45rem;
	background-color: snow;
}

.genre-list-card {
	width: 10rem;
	background-color: darkgray;
}


.user-list-card {
	width: 45rem;
	background-color: snow;
}

.profile-image-size-xs{
	width: 50px;
	height: 50px;
}

.profile-image-size-sm{
	width: 100px;
	height: 100px;
}

.profile-image-size-mid{
	width: 200px;
	height: 200px;
}

.profile-image-size-lg{
	width: 250px;
	height: 250px;
}

.profile-image-size-xlg{
	width: 300px;
	height: 300px;
}

.spotify_logo {
	width: 150px;
}

.artwork_for_preview {
	position: relative;
	width: 250px;
}

.artwork_circle {
	border-radius: 50% !important;
	animation: rotate_artwork 5s linear infinite;
}

@keyframes rotate_artwork {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

#id_artwork_for_preview_in_entry_detail {
	border-radius: 0%;
	transition: border-radius 0.3s ease;
}


.div_for_preview {
	position: relative;
	width: 250px;
	height: 250px;
}

.circle-wrap {
	position: absolute;
	width: 70px;
	height: 70px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.3);
}


.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
	width: 70px;
	height: 70px;
	position: absolute;
	border-radius: 50%;
}

.circle-wrap .circle .mask {
	clip: rect(0px, 70px, 70px, 35px);
}

.circle-wrap .circle .mask .fill {
	clip: rect(0px, 35px, 70px, 0px);
	background-color: rgba(0, 0, 0, 0.8);
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
	animation: fill linear infinite 30s;
	animation-play-state: paused;
	transform: rotate(0deg);
}

@keyframes fill {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

.inside-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}


.play_icon, .pause_icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}